<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/app.css">
    <title></title>
  </head>
  <body>

    <h1>Fruit Show Page</h1>

    <%= fruit.name %>
    <%= fruit.color %>
    <%= fruit.readyToEat %>
  </body>
</html>
